.Rate {
    padding: 100px 5vw;
}

.RateBox {
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.InputBox {
    margin: auto;
    margin-bottom: 30px;
}

.RatingField {
    width: 50%;
}

.TextArea {
    width: 100%;
    resize: none;
    min-height: 200px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.TextArea:active {
    border-color: black;
}

.RecentReviewsBox {
    padding: 50px 0;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.Header {
    text-align: center;
    margin-bottom: 30px;
}